<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> 이곡어때 | thanks_to </title>
        <link rel="stylesheet" href="/static/data/title.css?after">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script language="javascript" src="/static/data/include.js?after"></script>
        
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
        </style>
    </head>
    
    <body>
    <header id="get_header"></header>
    
    <div class = "thanks_to">
        <div style = "text-align: center;">

        <h3 class ="intext_title"> <strong> Special Thanks to...</strong></h3> <br>
        
        <div style = "font-size: 1.0rem;"> <b>박선아 강사님</b></div><br>

        <div style = "font-size: 1.0rem;"> <img src = "/static/data/image/bob5.jpg" alt ="" height="300px" align-items="center"> <br>
            <b>밥5</b> </div> <br>
               
        <div style = "font-size: 1.0rem;"> <img src = "/static/data/image/drug.png" alt ="" height="300px" align-items="center"> <br>
            <b>박희정</b> </div> <br>
        
        <div style = "font-size: 1.0rem;"> <img src = "/static/data/image/dog1.jpg" alt ="" height="300px" align-items="center"><img src = "/static/data/image/dog2.jpg" alt ="" height="300px" align-items="center"> <br>
            <b>절미</b> </div> <br>

        </div>
    </div>
    <footer id="get_footer"></footer>
    </body>
</html>