<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> 여기어때 | 만든사람 </title>
        <link rel="stylesheet" href="/static/data/title.css?after">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script language="javascript" src="/static/data/include.js?after"></script>
        
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
        </style>
    </head>
    
    <body>
    
    <header id="get_header"></header>
    <div id="wrapper">
    <div class = "whos">
        <div style = "text-align: center;">
        <h3 class ="intext_title"> <strong> 이곡어때 팀을 소개합니다.</strong></h3> <br>
        
    <div>
      <div class="three">
        <div id="name_center"><b id="name"> 윤혜영 </b></div>
        <div id="young"><img class = "list_img" src="/static/data/image/yhy.png" alt=""> </div>
        <div class = "intext"> <b> AtoZ </b> <br> 기획부터 진행, 멘탈 케어까지 <br> 프로젝트의 모든 것을 책임지는 PM <br>
            ('프'로젝트 '마'스터) </div>
        <br>

        <div id="name_center"><b id="name"> 조경희 </b></div>
        <div id="hee"><img class = "list_img" src="/static/data/image/jkh.png" alt=""> </div>
        <div class = "intext"> <b> 오류 디텍터 </b> <br> 그가 발견하지 못하는 오류는 없다! <br> 모기는 못 잡아도 오류는 다 잡는다! </div>
        <br>

        <div id="name_center"><b id="name"> 장윤식 </b></div>
        <div id="sik"><img class = "list_img" src="/static/data/image/jys.png" alt=""> </div>
        <div class = "intext"> <b>웹 마스터</b> <br> Django 기반의 서버 구현의 일등공신! <br> 당신이 보고 있는 이 페이지도 그가 없었더라면..</div>
        <br>

        <div id="name_center"><b id="name"> 김빈 </b></div>
        <div id="bin"><img class = "list_img" src="/static/data/image/kb.png" alt=""> </div>
        <div class = "intext"> <b>예언가</b> <br> 코드에 대한 심도있는 이해! <br> 오류가 발생하기도 전에 문제를 예측해 버리는 꼼꼼함</div>
        <br>
              
           </div>
      </div>
  </div>


        
        <br>
        <br>
        </div>
    </div>
    </div>
    <footer id="get_footer"></footer>
    </body>
</html>